@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/background.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.croissant-one-regular {
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
}

.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    background-color: #fc64a8;
    width: 45%;
    padding: 2%;
    border-radius: 18px;
    text-align: center;
}

h1 {
    color:#ff489a;
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color:#ffffff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "Croissant One", serif;
    font-weight: 400;
    font-style: normal;
}

.section1 {
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
    gap: 3%;
}

.section2 {
    display: flex;
    justify-content: center;
    padding: 25px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-family: "Work Sans", serif;
    color: black;
    font-size: 1rem;
}

select {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: "Work Sans", serif;
    font-size: 1rem;
}

label {
    color: #fff;
    font-family: "Work Sans", serif;
    font-weight: 500;
    margin-top: 12px;
    font-size: 1rem;
}

button {
    padding: 15px 50px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color:#ff54a1;
    font-family: "Work Sans", serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #49d459;
    color: #fff;
    transform: scale(1.1);
}

#tarefas {
    background-color: #ff54a19d;
    font-family: "Work Sans", serif;
    margin-top: 2rem;
    width: 45%;
    padding: 1%;
    border-radius: 18px;
    text-align: center;
}

.novaTarefa {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
}

.remover:hover {
    background-color: #f13c3c;
    color: #fff;
    transform: scale(1);
}